# Xcode
*.xcodeproj
*.xcworkspace
DerivedData/
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
*.swiftpm
Package.resolved

# IDE
.swiftpm/
.idea/

# OS
.DS_Store
.AppleDouble
.LSOverride

# Secrets & credentials
.env
*.key
*.pem
*.p8
*.p12
*.mobileprovision
*.provisionprofile

# Misc
input/
